{
  "debugMsg": true,
  "luaMsgPath": "ext/.msg.lua",
  "donationAlertPriceList": {
    "150 RUB": "MONEY"
  },
  "donationAlertMessages": [
    "MONEY"
  ],
  "twitchMessages": [
    "MONEY"
  ],
  "refreshInterval": 1000
}